// ico
//.ico-sprite { display:inline-block; vertical-align:middle; background:@icoAll -1000px -1000px no-repeat; .retina; content:""; }
.ico-font {
	display:inline-block; vertical-align:baseline; content:""; font-family:@font-icons; line-height:1;

	font-style:normal !important;
	font-weight:normal !important;
	font-variant:normal !important;
	text-transform:none !important;
	text-decoration:none !important;

	speak:none;

	//text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	-moz-font-feature-settings:"liga=1";
	-moz-font-feature-settings:"liga";
	-ms-font-feature-settings:"liga" 1;
	-o-font-feature-settings:"liga";
	font-feature-settings:"liga";
}

.ico-desktop   { &:before { .ico-font; content:"a"; }}
.ico-laptop    { &:before { .ico-font; content:"d"; }}
.ico-phone,
.ico-phone-landscape { &:before { .ico-font; content:"b"; }}
.ico-tablet,
.ico-tablet-landscape { &:before { .ico-font; content:"c"; }}

.ico-phone-landscape,
.ico-tablet-landscape { &:before { .transform(~'rotate(90deg) scaleX(-1)'); }}

.ico-tick      { &:before { .ico-font; content:"e"; }}

.ico-fullscreen {
	@size:32px;
	@ratio:9/16;
	@duration:150ms;

	position:relative; bottom:2px; display:inline-block; padding:@size 0 0 @size; width:0; height:0; vertical-align:middle;

	&:before, &:after { position:absolute; left:0; margin:0 0 -1px; bottom:(100% - 100% * @ratio) / 2; display:block;  .transition(~'width @{duration} linear, height @{duration} linear, color 300ms ease, border-color 300ms ease'); }
	&:before { width:100%; height:100%*@ratio; border:1px dotted #999; content:""; }
	&:after { .ico-font; width:50%; height:50%*@ratio; border:1px solid #666; content:"f"; text-align:right; font-size:9/32*@size; overflow:hidden; }

	&.fullscreen-active:after,
	&:hover:after { width:100%; height:100%*@ratio; }
	&:hover:before { width:50%; height:50%*@ratio; }

	&:hover {
		&:before, &:after { border-color:@color-blue; color:@color-blue; }
	}

	&.fullscreen-active {
		&:hover:after,
		&:before { width:50%; height:50%*@ratio; }
		&:hover:before { width:100%; height:100%*@ratio; }
		&:after { content:"g"; }
	}
}

